.data/
.data-old/
.ipynb_checkpoints/
.vscode/
.results/
.old/
.debug_objs/
.inputs/
.vscode/
jupyter/
scripts/
bandwidth
bandwidth.o
bandwidth.cc
old_code.cc
TODO.txt
trash
trash.txt
trash.py
main
main-g
main.o
test
test-g
test.o
test.cc
test_input
.DS_Store
plot.py
*.sh
input
input-temp
a.out
TODO.txt
scripts/
.a.out.icloud
scripts/
OldCode.h
old/
_scripts/
