.data/
.data-old/
.results/
.old/
.debug_objs/
.inputs/
.vscode/
jupyter/
old_code.cc
TODO
trash
trash.txt
main
main-g
main.o
test
test-g
test.o
test.cc
test_input
.DS_Store
plot.py
*.sh
input
input-temp
a.out
TODO.txt
